@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fdfefd;
}

h1 {
  font-size: 4rem;
  margin: 6px 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  width: 80%;
  margin: 0 auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#remove-bar::-webkit-scrollbar {
  display: none;
}

#error {
  margin-top: 100px;
  text-align: center;
}

.header {
  background-color: #000;
  padding-top: 70px;
}
.header__tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 850px;
  width: 80%;
  margin: 0 auto;
}
.header button {
  padding: 10px 0;
  font-weight: bold;
  border: none;
  background-color: #000;
  color: #fff;
}
.header button:hover, .header button:focus {
  background-color: #fdfefd;
  color: #000;
}
.header button::first-letter {
  text-transform: uppercase;
}
.header .active {
  background-color: #fdfefd;
  color: #000;
}
.header #my-account,
.header #back-events {
  color: #fff;
  position: absolute;
  top: 20px;
}
.header #my-account:hover,
.header #back-events:hover {
  text-decoration: underline;
}
.header #my-account {
  right: 5%;
}
.header #back-events {
  left: 5%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
  place-content: center;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.gallery__card {
  background-color: #fff;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.17);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 3s;
}
.gallery__text {
  padding: 0 10px 10px 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.gallery__text h3 {
  margin-top: 30px;
}
.gallery__text .date {
  color: #cf7556;
}
.gallery__text > :not(.date):not(h3) {
  color: rgba(0, 0, 0, 0.6235294118);
}
.gallery .event__info {
  flex-grow: 3 !important;
}
.gallery .check {
  border-radius: 50%;
  background-color: green;
  color: #fff;
}

.heart {
  position: absolute;
  top: -25px;
  right: 20px;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 50%;
  border: 1px solid #e6e5ea;
  background: url("../../assets/icons/heart.svg") no-repeat center;
  background-color: #fff;
  background-size: 45%;
  width: 40px;
  height: 40px;
}

.heart-blue {
  background: url("../../assets/icons/heart-blue.svg") no-repeat center;
  background-color: #fff;
  background-size: 45%;
  width: 40px;
  height: 40px;
}

.interested {
  background-color: #fff;
  font-size: 15px;
  color: #1192ae;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 12px;
  margin-top: 15px;
  border: 2px solid #1192ae;
}

.going {
  background-color: #1192ae;
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 12px;
  margin-top: 15px;
  border: 2px solid #1192ae;
}

.default {
  background: none;
  border: none;
  color: #1192ae;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
