@mixin card-styles {
  padding: 0 10px 10px 10px;
  font-weight: 500;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h3 {
    margin-top: 1.875rem;
  }

  .date {
    color: $orage;
  }

  &> :not(.date):not(h3) {
    color: #0000009f;
  }
}