@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
 // font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 4rem;
  margin: 6px 0 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1270px;
  width: 80%;
  margin: 0 auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}