.header {
  background-color: $black;
  padding-top: 45px;

  &__tabs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 850px;
    width: 80%;
    margin: 0 auto;
  }

  button {
    padding: 10px 0;
    font-weight: bold;
    border: none;
    background-color: $black;
    color: $white;
  }

  button:hover, button:focus {
    background-color: $white2;
    color: $black;
  }

  button::first-letter {
    text-transform: uppercase;
  }

  .active {
    background-color: $white2;
    color: $black;
  }

  #my-account,
  #back-events {
    color: $white;
    position: absolute;
    top: 20px;
  }

  #my-account:hover,
  #back-events:hover {
    text-decoration: underline;
  }
  
  #my-account {
    right: 5%;
  }

  #back-events {
    left: 5%;

  }
}

